.quadrado {
    border: 2px solid black;
    height: 300px;
    width: 300px;
    display: inline-block;
    background-color: lightgray;
    border-radius: 10px;
}

body {
    background-image: url(imagens/wallpaper001.jpg);
}

#q1 {
    background-color: skyblue;
}

#q2 {
    background-image: linear-gradient(to bottom, purple, black);
}

#q3 {
    background-image: url(imagens/pattern003.png);
}