@charset "UTF-8";

body{
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    background-color: darkslategray
}

h2{
    color: white;
}

p{
    text-align: justify;
}

a{
    color: white;
}